[flake8]
max-line-length = 81
ignore = E501, E203, W503, F821
per-file-ignores = __init__.py:F401
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
    tests/toml-test