repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^tests/(toml-test|toml-spec-tests)/.*
      - id: end-of-file-fixer
        exclude: ^tests/(toml-test|toml-spec-tests)/.*
      - id: debug-statements

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.2'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
